body{
    background-color: lightgoldenrodyellow;
}

h1{
font-size: 30px;
color:green;
}
h2{
font-size: 30px;
color:teal;
}
.big{
font-size: 60px;
}
.big.uppercase{
color:violet;
}
h1 span{
color:navy;
}